@import "reset";
@import "mixin";
@import "var";
@import "libs";

html {
  font-family: $p;
  font-size: 16px;
  body {
    @include nav;

    //Header
    header {
      .header-sl {
        position: relative;
        .header-sl_slide {
          @include bg;
          .sl_text {
            padding: 16.87rem 0px 17.7rem 9.375rem;
            width: 80%;
            h3 {
              font-size: 3.125rem;
              text-transform: uppercase;
              letter-spacing: 2px;
              margin-bottom: 3rem;
            }
            p {
              font-size: 1rem;
              line-height: 1.5;
              margin-bottom: 3rem;
              color: #e1e0e0;
              // width: 60%;
            }
            a {
              border: 1px solid #e4e4e4;
              border-radius: 5px;
              padding: 1.25rem 2.5rem 1.5rem 2.5rem;
              text-decoration: none;
              text-transform: uppercase;
              letter-spacing: 2px;
              font-weight: 600;
              font-size: 0.75rem;
              background-color: #e4e4e4;
              color: $grey;
              &:hover {
                border: 1px solid $peach;
                background-color: $peach;
                color: #fff;
                transition: all 0.5s ease;
              }
            }
          }
        }
        .slide_one {
          h3 {
            color: $peach;
          }
        }
        .slide_two {
          text-align: right;
          .sl_text {
            margin-right: 9.375rem;
            margin-left: auto;
          }
          p {
            margin-left: auto;
          }
          h3 {
            color: #cc895a;
          }
          a:hover {
            border: 1px solid #ac8468 !important;
            background-color: #ac8468 !important;
            transition: all 0.5s ease;
          }
        }
      }
      //тoчки
      .slick-dots {
        position: absolute;
        bottom: 25px;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        li {
          button:before {
            border: 2px solid $peach;
            border-radius: 25px;
            background-color: $peach;
            font-family: "slick";
            font-size: 0px;
            width: 11px;
            height: 11px;
            content: "";
            opacity: 1;
            color: $peach;
          }
        }
      }
      .slick-dots li.slick-active button:before {
        opacity: 1;
        background-color: transparent;
      }
      //стрелки
      .slick-arrow {
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 50%;
        display: block;
        width: 20px;
        height: 20px;
        padding: 0px;
        transform: translate(0, -50%);
        cursor: pointer;
        color: #fff;
        outline: none;
        background: transparent;
      }
      .slick-next {
        margin-right: 30px;
        right: 0px;
        &::before {
          font-family: "slick";
          font-size: 0px;
          line-height: 1;
          opacity: 1;
          -webkit-font-smoothing: antialiased;
          content: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-chevron-right fa-w-10"><path style="fill:white" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z" class=""></path></svg>');
        }
      }
      .slick-prev {
        margin-left: 30px;
        z-index: 1000;
        left: 0px;
        &::before {
          font-family: "slick";
          font-size: 0px;
          line-height: 1;
          opacity: 1;
          -webkit-font-smoothing: antialiased;
          content: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-chevron-left fa-w-10"><path style="fill:white" d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z" class=""></path></svg>');
        }
      }
    }

    // Promotion
    .promotion {
      margin-top: 4.25rem;
      margin-bottom: 4.68rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 11rem;
      overflow: hidden;
      .promotion-item {
        display: flex;
        svg {
          color: $peach;
          font-size: 2.25rem;
        }
        h4 {
          text-transform: uppercase;
          color: $darkGrey;
          margin-left: 1.875rem;
        }
        p {
          margin-left: 1.875rem;
          margin-top: 8px;
          color: $grey;
          font-size: 0.75rem;
          width: 80%;
        }
      }
    }

    // Banner
    .banner {
      display: grid;
      grid-gap: 1.875rem;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 25rem;
      .banner-left {
        @include bg;
        display: flex;
        justify-content: center;
        align-items: center;
        .banner-left-box {
          font-size: 2.5rem;
          line-height: 3.125rem;
          text-transform: uppercase;
          color: #fff;
          span {
            color: $peach;
          }
          a {
            margin-top: 1.875rem;
            border: 1px solid #e4e4e4;
            border-radius: 5px;
            padding: 15px;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 600;
            font-size: 12px;
            background-color: #e4e4e4;
            color: $grey;
            &:hover {
              background-color: $peach;
              color: #fff;
              border: 1px solid $peach;
              transition: all 0.5s ease;
            }
          }
        }
      }
      .banner-right {
        display: flex;
        @include bg;
        .banner-right-text {
          margin: auto;
          font-size: 18px;
          line-height: 46px;
          letter-spacing: 2px;
          text-transform: uppercase;
          color: #cdcdcd;
          span {
            font-size: 40px;
            color: $peach;
          }
        }
      }
    }

    // Product
    .product {
      margin-top: 16rem;
      position: relative;
      .product-menu {
        position: absolute;
        left: 50%;
        top: -60px;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        li {
          display: inline;
          margin-right: 2.5rem;
          &:last-child {
            margin-right: 0px;
          }
          a {
            font-weight: 600;
            color: $darkGrey;
            font-size: 1.2rem;
            text-decoration: none;
            &:hover {
              color: $peach;
              transition: all 0.5s ease;
            }
          }
        }
        .ui-state-active > a {
          color: $peach;
        }
      }
      // catalog
      .catalog {
        margin-top: 16rem;
        border: 1px solid $peach;
        padding-top: 2rem;
        &_item {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }
        @include car;
        .catalog_car {
          width: 20rem;
          margin: 0 15px 30px 15px;
        }
        .catalog_content {
          width: inherit;
        }
        .catalog_img {
          width: 100%;
          height: 17.63rem;
        }
      }
      .link-btn {
       margin-top: 60px;
        width: 220px;
        position: absolute;
        left: 50%;
        margin-right: -50%;
        transform:translate(-50%, -50%);
        text-align: center;
        border-radius: 5px;
        text-decoration: none;
        text-transform: uppercase;
        padding: 15px;
        letter-spacing: 1px;
        font-weight: 600;
        font-size: 12px;
        background-color: $peach;
        color: #fff;
        line-height: 1.4;
        &:hover {
          background-color: transparent;
          color: $darkGrey;
          border: 2px solid $darkGrey;
          transition: all 0.5s ease;
        }
      }
    }

    // Advantages
    .advantages {
      margin-top: 15.6rem;
      .parallax-img {
        perspective: -120px;
        transform: translateZ(-130px);
        height: 100%;
        background-attachment: fixed;
        @include bg;
      }
      .advantages-box {
        height: 290px;
        width: 60%;
        overflow: hidden;
        margin: auto;
        padding-top: 150px;
        padding-bottom: 180px;
        h3 {
          font-size: 3.4rem;
          color: $peach;
          margin-bottom: 30px;
        }
        p {
          font-size: 1.2rem;
          line-height: 1.2;
          color: #fff;
        }
        button {
          margin-top: 1rem;
          border: none;
          border-radius: 5px;
          padding: 0.9rem;
          letter-spacing: 2px;
          font-weight: 600;
          font-size: 0.75rem;
          background-color: #e4e4e4;
          color: $grey;
          &:hover {
            background-color: $peach;
            color: #fff;
            transition: all 0.5s ease;
          }
        }
      }
      #more {
        display: none;
      }
    }

    // News
    .news {
      margin-top: 5.75rem;
      margin-bottom: 4.375rem;
      .news-title {
        text-align: center;
        h3 {
          font-size: 2.25rem;
          margin-bottom: 1.5rem;
        }
        p {
          color: $darkGrey;
        }
      }
      .news-posts {
        margin-top: 3.25rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .news-post-item {
          @include bg;
          display: flex;
          margin: 15px;
          width: 22.25rem;
          height: 22.25rem;
          color: #fff;
          font-weight: 400;
          font-size: 1.2rem;
          text-align: center;
          text-decoration: none;
          .new-post-content {
            margin: auto;
          }
          hr {
            width: 80%;
            border: 1px solid #fff;
          }
        }
      }
    }

    // Newsletter
    .newsletter {
      background-color: $peach;
      .newsletter-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        color: #fff;
        padding: 6.8rem 0;
        p {
          padding-top: 1rem;
          font-size: 2.25rem;
          text-transform: uppercase;
          font-weight: 600;
          margin-right: 4.25rem;
        }
        .newsletter-form {
          display: flex;
          width: 40%;
          .newsletter-mail {
            border: 2px solid #fff;
            background-color: transparent;
            height: 3.4rem;
            padding-left: 5px;
            width: 80%;
            color: #fff;
            font-size: 1.25rem;
            letter-spacing: 1px;
            &::-webkit-input-placeholder {
              color: #fff;
            }
            &:-ms-input-placeholder {
              color: #fff;
            }
          }
          .newsletter-sub {
            border: 2px solid #fff;
            background-color: #fff;
            // height: 3.75rem;
            width: 20%;
            font-weight: 600;
          }
        }
      }
    }

    @include modal;
    @include footer;
  }
}
@import "media-style";
